@inherits CarBrandBase

@page "/car-brands"
@using Domain.Views

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Marcas de Vehículos</h2>

            <div class="top-separator">

                <Card>
                    <CardBody>
                        <CardTitle>Búsqueda</CardTitle>
                        <Fields>
                            <Field>
                                <FieldLabel>Nombre</FieldLabel>
                                <TextEdit Placeholder="Nombre" @bind-Text="@SearchView.Name"/>
                            </Field>
                            <Field ColumnSize="ColumnSize.Is5">
                                <FieldLabel>Activo</FieldLabel>
                                <Select @bind-SelectedValue="SearchView.Active" TValue="int" Class="custom-select">
                                    <SelectItem Value="1">Si</SelectItem>
                                    <SelectItem Value="0">No</SelectItem>
                                </Select>
                            </Field>
                        </Fields>
                        <Fields>
                            <Field ColumnSize="ColumnSize.Is5">
                                <FieldLabel>Filas</FieldLabel>
                                <Select @bind-SelectedValue="SearchView.Size" Class="custom-select" TValue="int">
                                    <SelectItem Value="10">10</SelectItem>
                                    <SelectItem Value="25">25</SelectItem>
                                    <SelectItem Value="50">50</SelectItem>
                                    <SelectItem Value="100">100</SelectItem>
                                    <SelectItem Value="50">500</SelectItem>
                                </Select>
                            </Field>
                        </Fields>
                        <Button Color="Color.Secondary" Clicked="@Search">Buscar</Button>
                        <Button Color="Color.Primary" Clicked="@ShowAddModal">Agregar Fabricante</Button>
                    </CardBody>                    
                </Card>

            </div>

            <ErrorMessage Display="@DisplayErrorMessage" Message="@ErrorMessage" />
            
            <div class="top-separator">

                <DataGrid TItem="CarBrandView"
                        Data="@CarBrands"
                        ReadData="@OnReadData"
                        TotalItems="@SearchResponse.Pageable.TotalElements"
                        PageSize="@SearchView.Size"
                        ShowPager="true"
                        Striped="true"
                        Responsive>
                    
                    <ChildContent>
                        <DataGridCommandColumn EditCommandAllowed="true" />
                        <DataGridColumn TItem="CarBrandView" Field="Id" Caption="#">
                            <DisplayTemplate>
                                @{
                                    var id = (context as CarBrandView)?.Id;
                                    var name = (context as CarBrandView)?.Name;
                                    <div @onclick="() => GetBrand(id)" class="crud-icon"> 
                                        <Icon Name="IconName.Edit" />
                                    </div>
                                    <div @onclick="() => GetLines(id, name)" class="crud-icon">
                                        <Icon Name="IconName.Briefcase" />
                                    </div>
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                        <DataGridColumn TItem="CarBrandView" Field="Name" Caption="Nombre" />
                        <DataGridColumn TItem="CarBrandView" Field="Active" Caption="Activo">
                            <DisplayTemplate>
                                @{
                                    var active = (context as CarBrandView)?.Active;
                                    <ActiveField Value="@active" />
                                }
                            </DisplayTemplate>
                        </DataGridColumn>
                    </ChildContent>
                </DataGrid>

            </div>

            <Modal @bind-Visible="@DisplayModal">
                <ModalContent Centered>
                    <ModalHeader>
                        @if (ModifyModal)
                        {
                            <ModalTitle>Modificar Fabricante</ModalTitle>
                        }
                        else
                        {
                            <ModalTitle>Agregar Fabricante</ModalTitle>
                        }
                        <CloseButton Clicked="@HideAddModal"/>
                    </ModalHeader>
                    <ModalBody>

                        <Validations Mode="ValidationMode.Manual" Model="@CarBrandView" @ref="Validations">
                            <Validation>
                                <Field Horizontal>
                                    <FieldLabel ColumnSize="ColumnSize.Is2">Nombre</FieldLabel>
                                    <FieldBody ColumnSize="ColumnSize.Is10">
                                        <TextEdit Placeholder="Nombre" @bind-Text="@CarBrandView.Name">
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field Horizontal>
                                    <FieldLabel ColumnSize="ColumnSize.Is2">Descripción</FieldLabel>
                                    <FieldBody ColumnSize=ColumnSize.Is10>
                                        <MemoEdit Rows="4" @bind-Text="@CarBrandView.Description" />
                                    </FieldBody>
                                </Field>
                            </Validation>
                            @if (ModifyModal)
                            {
                                <Validation>
                                    <Field Horizontal>
                                        <FieldLabel ColumnSize="ColumnSize.Is2">Activo</FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.Is10">
                                            <Select @bind-SelectedValue="CarBrandView.Active" Class="custom-select" TValue="string">
                                                <SelectItem Value="ActiveTypeView.ACTIVE" TValue="ActiveTypeView">Si</SelectItem>
                                                <SelectItem Value="ActiveTypeView.INACTIVE" TValue="ActiveTypeView">No</SelectItem>
                                            </Select>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                            }
                        </Validations>
                    </ModalBody>
                    <ModalFooter>
                        <Button Color="Color.Primary" Clicked="@SaveChanges">Guardar</Button>
                        <Button Color="Color.Secondary" Clicked="@HideAddModal">Cancelar</Button>
                    </ModalFooter>
                </ModalContent>
            </Modal>

        </div>
    </div>
</div>
